/* AboutUs.css */

.about-us-container {
   
    text-align: center;
  }
  
  .about-us-image {
    width: 100%;
    height: auto;
    filter: contrast(120%); 
  }
  
  .about-us-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
    
    font-size: 70px; /* Font size of "About Us" */
  }
  
  .about-us-description {
    
    /* margin-top: 20px; */
    max-width: 700px;
    /* margin-left: 26%; */
    position: relative;
    left: 27%;
    /* text-align: center; */
    /* margin-left:400px; */
    color: #000; /* Description text color */
    /* align-items: center; */
    font-size: 18px; /* Description font size */
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-position{
    position: relative;
    right: 10%;
  }
  
  .image-container {
    display: flex;
    gap: 20px;
    margin-left: 300px;
    padding-bottom: 80px;
  }
  .image img{
    width:300px;
    height: 300px;
    filter: contrast(120%);
  }
  
 