.main-container{
    margin-left: 25%;
}
/* DatePicker.css */

.date-picker-container{
    padding-top: 20px;
}
.date-picker{
    padding-top: 5px;
}
  .date-picker input {
    width: 500px; /* Set the width as needed */
    padding: 8px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 3px;
    color: #007bff; /* Text color */
  }
  
  .separator {
    
    height: 2px;
    background-color: grey;
    margin: 20px 0;
    width: 700px; /* Adjust as needed */
  }
  /* CategoryPicker.css */


  
  .category-row {
    display: flex;
    max-width: 1000px;
   
  }
  
  .category {
   
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9; /* Background color */
  }

  .category span {
    display: block;
    font-size: 14px;
    color:grey; /* Text color */
  }

.category.selected {
    background-color: #007bff; /* New background color when selected */
    font-weight: bold;
    color: #333;
  }
   
  .category.selected span {
    color: white; /* Set the color for the span inside the selected category */
  }
  .trip-type-options {
    display: flex;
  }
  
  .trip-type-option {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Style for the selected option */
  input[type="radio"]:checked + label {
    font-weight: bold;
    color: black;
  }
  
/* StartTrip.css */

/* Add these CSS styles for the Next and Back buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-top: 20px;
    margin-left: 25%;
  }
  
  .next-button,
  .back-button,.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .next-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  
  .back-button {
    background-color: #ccc;
    color: #333;
  }
  
  .back-button:hover {
    background-color: #bbb;
  }
  .submit-button{
    background-color: #007bff;
    color: #fff;
  }
  .submit-button:hover{
    background-color: #0056b3;
  }
  /* Add this CSS to your style sheet */
.trip-name-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 777px;
    margin-bottom: 20px;
  }
  
  .trip-name-input label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .trip-name-input input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .trip-name-input input::placeholder {
    color: #999;
  }
  
  .trip-name-input input:focus {
    border-color: #007bff;
  }
  .trip-description p{
    color: gray;
  }
  .overview-textarea,.about-textarea {
    max-width: 745px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .overview-textarea label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .overview-textarea textarea {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .overview-textarea textarea::placeholder {
    color: #999;
  }
  
  .overview-textarea textarea:focus {
    border-color: #007bff;
  } 
  .about-textarea label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .about-textarea textarea {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .about-textarea textarea::placeholder {
    color: #999;
  }
  
  .about-textarea textarea:focus {
    border-color: #007bff;
  }
  .accommodation-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .accommodation-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .accommodation-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .accommodation-column {
    flex-basis: 48%; /* Set the width of each column */
  }
  
  .accommodation-column label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .accommodation-column input[type="checkbox"] {
    margin-right: 5px; /* Add some space between the checkbox and label */
  }
  
  .accommodation-column label:hover {
    background-color: #f2f2f2; /* Change background color on hover */
  }
  
  .accommodation-column label.selected {
    font-weight: bold; /* Style selected options differently */
  }
  .inclusions-section,  .exclusion-section ,.special-section {
    max-width: 820px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .inclusions-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .inclusion-inputs, .exclusion-inputs,.special-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .inclusion-input, .exclusion-input,.special-input  {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inclusion-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .plus-minus-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .plus-minus-button:hover {
    background-color: #0056b3;
  }
  
  .minus-button {
    background-color: #ff4646;
  }
  
  .minus-button:hover {
    background-color: #d63434;
  }
  .inclusions-section,.exclusion-section,.special-section p {
    font-size: 12px;
    margin-bottom: 5px;
    color:gray;
  }

  
  .exclusion-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  

  .exclusion-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .special-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  

  .special-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .form-container {
    text-align: left;
    max-width: 737px;
  }
  
  .form-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Trip Itinerary Textarea */
  textarea#tripItinerary {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 150px;
  }
  
  /* Trip Expense Input */
  .trip-expense-input {
    margin-top: 20px;
  }
  
  input#tripExpense {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  
  
  
  
  
  
  
  