.request-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    min-width: 300px;
    max-width: 600px;
    
  }
  

  .request-options button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .request-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-bottom: 10px;
  }
  
  .request-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .request-category {
    font-size: 14px;
    color: #888;
  }
  
  .request-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .request-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
  }
  
  .request-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .request-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .request-button:hover {
    background-color: #0056b3;
  }
  
    